doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title AgricVenturesNG
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" media="screen" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css")
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="/stylesheets/main.css")
    link(href="https://fonts.googleapis.com/css?family=Poppins:400,600,700"
      rel="stylesheet")
  body
    header
      .container
        nav.navbar.navbar-expand-md.navbar-light
          a(class="navbar-brand" href="#") AgricVenturesNG
          button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
            span.navbar-toggler-icon
          .collapse.navbar-collapse#navbarNav
            ul.navbar-nav
              li.nav-item.active
                a(class="nav-link" href="/") Home 
                  span.sr-only (current)
              li.nav-item
                a(class="nav-link" href="#") Vacancies 
              li.nav-item
                a(class="nav-link" href="#") Events 
              li.nav-item
                a(class="nav-link" href="#") Admissions 
              li.nav-item
                a(class="nav-link" href="/about") About
              li.nav-item
                a(class="nav-link" href="/contact") Contact Us

          .d-flex.justify-content-end.contact
            ul.navbar-nav
              li.nav-item
                i.fa.fa-phone 
                span.ml-2.mr-3 +2347036161822
              li.nav-item
                a(class="nav-link" href="#")
                  i.fa.fa-facebook-square
              li.nav-item
                a(class="nav-link" href="#")
                  i.fa.fa-twitter-square
              li.nav-item
                a(class="nav-link" href="#")
                  i.fa.fa-instagram


        .row.justify-content-center
          h1.display-4.site-header AgricVenturesNG

        main.container
          .jumbotron
            p.lead AgricVenturesNG is a blog dedicated to bring the latest News and event on Agriculture happen around Nigeria.

    section.container.mb-4.p-2.shadow-sm
      .row.align-items-center
        .col-sm-12.col-md-6.d-flex.justify-content-center
          h3 Subscribe To Our Newsletter
      
        .col-sm-12.col-md-6.d-flex.justify-content-center
          form(action="" method="" class="form-inline")
            input(type="email" name="" class="form-control" placeholder="Enter Email...")
            button(type="submit" class="btn ml-2") Subscribe

    section.container
      .row
        .col-sm-12.col-md-8.border-right
          - const post1 = posts.slice(0,3)
          - const post2 = posts.slice(3,10)
          each post in post1
            article
              .card.shadow-sm.mb-3.bg-light.rounded
                .row.align-items-center
                  .col-sm-12.col-md-6
                    .pl-1.py-1
                      img(src=post.image alt="image of post")
                  .col-sm-12.col-md-6.p-0
                    .card-body.pl-1
                      h4.card-title= post.title
                      p.card-subtitle.mb-2.text-muted Posted by #{post.author}
                      a.btn.bg-info.text-white(href=`/blog/${post.category}/${post.url}`) Read more...

          .row.mb-3
              .col-sm-12
                .bg-dark
                  p.text-light AD SPACE

          each post in post2
            article
              .card.shadow-sm.mb-3.bg-light.rounded
                .row.align-items-center
                  .col-sm-12.col-md-6
                    .pl-1.py-1
                      img(src=post.image alt="image of post")
                  .col-sm-12.col-md-6.p-0
                    .card-body.pl-1
                      h4.card-title= post.title
                      p.card-subtitle.mb-2.text-muted Posted by #{post.author}
                      a.btn.bg-info.text-white(href=`/blog/${post.category}/${post.url}`) Read more...
          - let nextPage = Number(pageNumber + 1)
          .row
            if pageNumber > 1
              a.page-item.page-link(href=`/blog/${pageNumber-1}` style="margin-left: 0.9rem") 	&larr;  Previous

            a.page-item.page-link.ml-auto(href=`/blog/${nextPage}` style="margin-right: 0.9rem") Next 	&rarr;

        .col-sm-12.col-md-4
          aside
            .row.mb-3
              .col-sm-12
                .bg-dark
                  p.text-light AD SPACE

            form(action="" method="" class="mb-3")
              .input-group.mb-3
                input(type="text" class="form-control" placeholder="Search here..." aria-label="Search here..." aria-describedby="button-addon2")
                .input-group-append
                  button(type="submit" class="btn btn-outline-secondary" id="button-addon2") Search

            h4.text-capitalize.mb-3 Popular Posts
            
            h4.text-capitalize.mb-3 Categories

            h4.text-capitalize.mb-3 Archives

    footer.mt-4.pt-2
      .container
        .row
          .col-md-12
            h2 AgricVenturesNG
        .row
          .col-sm-12.col-md-5
            p.mb-3 AgricVenturesNG is a blog dedicated to bring the latest News and event on Agriculture happen around Nigeria.
            p 
              i.fa.fa-envelope-o
              span.ml-2
                a(href="mailto:kelvinekrresa@gmail.com") kelvinekrresa@gmail.com 
            p 
              i.fa.fa-phone 
              span.ml-2 +2347036161822
          .col-sm-12.col-md-3
            p
              a(href="#") Privacy Policy
            p 
              a(href="#") Terms &amp; Conditions 
          .col-sm-12.col-md-4
            ul.footer-nav
              li.nav-item
                a(href="#")
                  i.fa.fa-facebook-square
              li.nav-item
                a(href="#")
                  i.fa.fa-twitter-square
              li.nav-item
                a(href="#")
                  i.fa.fa-instagram      

        .row
          .col-sm-12.text-center
            p Copyright &copy; 2018. Built by Ochuko
    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous")